<article id={{bookmark.id}}>
  <a target="_blank" href={{bookmark.link}}>
  {{bookmark-title bookmark.title bookmark.about}}
  </a>
  {{moment-from-now bookmark.created}}
  {{moment bookmark.created 'MM-DD-YYYY'}}
</article>
{{yield}}
