<h3>Users</h3>
{{#each model as |user index|}}
    <h3>#{{index}} - {{user.fullName}}</h3>
    {{#each user.bookmarks as |bookmark|}}
    <li>{{bookmark.title}}</li>
    {{else}}
        <h3>No bookmarks</h3>
    {{/each}}
{{/each}}
{{outlet}}